:root {
    --primary: #DCE1DE;
    --secondary: #1F2421;
    --tertiary: #20BF55;
    --textPrimary: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;

    overflow-x: hidden;
}

nav {
    padding: 20px 50px;

    display: flex;
    gap: 30px;

    background-color: var(--secondary);
}

nav a {
    color: var(--textPrimary);
    text-decoration: none;
}

header {
    height: 40vh;
    padding: 50px;

    background-color: var(--primary);
}

main {
    width: 100vw;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    gap: 50px;

    background-color: var(--primary);
}

main section {
    width: 70%;
    padding: 50px;

    border: 3px solid var(--tertiary);
}

main section:nth-child(odd) {
    border-left: none;
    border-radius: 0 10px 10px 0;
}

main section:nth-child(even) {
    border-right: none;
    border-radius: 10px 0 0 10px;
    align-self: flex-end;
}

main section .img-container {
    width: 15vw;
    height: 15vw;
    margin-top: 100px;
    
    border-radius: 500px;
    background-color: var(--tertiary);
}

main section .img-container img {
    width: inherit;
    height: inherit;
    padding: 25px;

    object-fit: contain;
}

footer {
    padding: 20px 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--textPrimary);
    background-color: var(--secondary);
}